* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Domine", serif;
    transition: all .2s cubic cubic-bezier(.34, 1.12, .68, 1.31);
}

#gallery {
    min-height: 100vh;
    background: #eee;
    padding-bottom: 100px;
    text-align: center;
}

.tabs {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.buttons {
    height: auto;
    width: auto;
    color: #666;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
}

.buttons.active {
    background: #ffe6a7;
    color: #b75408;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.image {
    height: 250px;
    width: 350px;
    overflow: hidden;
    border: 15px solid #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image:hover img {
    transform: scale(1.3);
}

#fullImageContainer img {
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
}

#fullImageContainer {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}