* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/*navigation section*/
#nav-bar {
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 10px;
    background-color: #2596be;
    height: 75px;
}

.logo {
    position: relative;
    z-index: 1;
}

.logo img {
    width: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    padding-top: 10px;
}

.nav-links {
    margin-right: -600px;
}

.icons {
    list-style: none;
    display: flex;
}

.icons a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

button {
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 16px;
    background-color: #145369;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #041014;
}

/*1st image with its overlay*/
.background img {
    width: 1350px;
    height: 620px;

}

#welcome {
    position: relative;
    z-index: 1;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-top: -274px;
}

.content h1 {
    font-size: 36px;
    color: #8B4513;
    margin-bottom: 20px;
}

.content h4 {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}




/*About Us*/
#AboutUs {
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message {
    max-width: 600px;
    margin-right: 50px;
    text-align: justify;
}

.message h2 {
    color: #8B4513;
    font-size: 28px;
    border-bottom: 2px solid #8B4513;
    padding-bottom: 10px;
}

.message p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.message button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #CD853F;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message button:hover {
    background-color: #A0522D;
}

.image {
    flex: 1;
    text-align: center;
}

.image img {
    width: 100%;
    max-width: 400px;
    height: auto;
}




/* Products */
/*Settings for the small line at the bottom*/
.product-header h2 {
    position: relative;
}
.product-header h2::before{
content: "";
display:block;
width: 50px;
height: 3px;
background: black;
position: absolute;
bottom: -8px;
left: 44%;
}

.product-header h4 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: normal;
}

#items {
    max-width: 1200px;
    margin: 0 auto;
}

#items ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

#items li {
    width: 23%;
    text-align: center;
}

#items img {
    width: 270px;
    height: 250px;
}

.row4 {
    padding-bottom: 50px;
}




/*Gallery*/
/*Settings for the small line at the bottom*/
.gallery-header h2 {
    position: relative;
}
.gallery-header h2::before{
content: "";
display:block;
width: 50px;
height: 3px;
background: black;
position: absolute;
bottom: -8px;
left: 40%;
}

.gallery-header p{
    padding-top: 10px;
    padding-bottom: 20px;
}

.categories {
    padding-bottom: 40px;
}
.categories ul{
    list-style: none;
    display: flex;
}

.categories img {
    width: 300px;
    height: 220px;
}

.categories li {
    position: relative;
}

/*for overlay*/
.categories li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 220px;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease; 
}

.categories li:hover::after {
    background-color: rgba(0, 0, 0, 0.5); 
}

/*for the overlay text*/
.categories a {
    position: absolute; 
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-decoration: none;
}

.categories li:hover a {
    opacity: 1;
}


/*Footer*/
#footer {
    display: flex;
    justify-content: space-around;

    padding: 30px 60px;
    background-color: #2596be;
    color: black;
    gap: 40px;
    text-align: center;
}

.About, .Contact, .map {
    width: calc(100%/3);
}

.About h3, .Contact h3 {
    border-bottom: 2px solid blue;
}

.Contact p {
    margin: 5px 0;
}

.social {
    display: flex;
    align-items: center;
}

.social img {
    width: 30px;
    margin-right: 10px;
}

.social a {
    text-decoration: none;
    color: black;
}

/*common settings*/
#products, #gallery, #footer {
    border-top: 2px solid black;
    padding-top: 15px;
    position:relative
}

#products::before, #gallery::before, #footer::before {
    content: "";
    display:block;
    width: 50px;
    height: 3px;
    background: #2596be;
    position: absolute;
    bottom: 0px;
    left: 0;
}