* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Domine", serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
}

#main-container {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
    width: 768px;
    height: 100%;
    max-width: 100%;
    min-height: 480px;
}

form h1{
    margin-bottom: 10px;
}

#main-container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

#main-container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

#main-container button {
    background-color: #432818;
    color: white;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.remember-forgot{
    margin: 15px 10px;
}

#main-container button.hidden {
    background-color: transparent;
    border-color: white;
}

#main-container form {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

#main-container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

#login-wrapper {
    left: 0;
    width: 50%;
    z-index: 2;
}

#main-container.active #login-wrapper {
    transform: translateX(100%);
}

#sign-up-wrapper {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

#main-container.active #sign-up-wrapper {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

#main-container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: purple;
    height: 100%;
    background: linear-gradient(to right,#b75408, #432818);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

#main-container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

#main-container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

#main-container.active .toggle-right {
    transform: translateX(200%);
}


@media screen and (max-width: 2455px) {
    #main-container {
        width: 768px;
        height: 100%;
        max-width: 100%;
        min-height: 480px;
    }
    
}

@media screen and (max-width: 1321px) {
    #main-container {
        height: 100%;
        width: 100%;
        min-height: 480px;
    }
}

@media screen and (max-width: 768px) {
        
}
